html
{
    height: 100%;
}

body
{
    height: 100%;
    font-family: arial;
    overflow: hidden;
}

/* CHOICE PAGE */

#choose_container
{
    box-sizing: border-box;
    height: 100%;
    padding: 10px;    
}

.choice
{
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    height: 100%;     
    
    cursor: pointer;
    text-align: center;

    background-color: transparent;
    
    -webkit-transition: all 300ms ease-in-out;
}

.choice header
{    
    position: relative;
    width: 100%;
    height: 214px;
    top: 50%;
    margin-top: -170px;
    text-align: center;
    
    border-radius: 50%;
    
    -webkit-transition: all 300ms ease-in-out;
}

.choice header h2
{
    font-size: 14em;
}

.choice p
{
    position: absolute;
    width: 100%;    
    top: 50%;
    margin-top: 30px;
    font-size: 94px;
    
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    
    -webkit-transform: translateY(20px);
}

.choice:first-child:hover
{
    background-color: #b6e026;    
}

.choice:nth-child(2):hover
{
    background-color: #cf0404;
}

.choice:hover header h2
{
    color: white;
}

.choice:hover p
{
    opacity: 1;
    -webkit-transform: translateY(0);
}