@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome to NEW CRUD</h1>
        </header>
        
        <nav>
            <div>
                <div class="face front"><span>Users</span></div>
                <div class="face back">
                    <a>New</a>
                    <a>List</a>
                </div>
            </div>
            <div>
                <div class="face front"><span>Groups</span></div>
                <div class="face back">
                    <a>New</a>
                    <a>List</a>
                </div>
            </div>
            <div>
                <div class="face front"><span>About</span></div>
                <div class="face back"></div>
            </div>
        </nav>
        
        @RenderBody()
        <footer>by <a href="twitter.com/danilojrr" target="_blank">@@danilojrr</a></footer>
    </body>
</html>
